/*removing all margin and padding from the page so the boxes get pushed 
*/
*{
    padding: 0%;
    margin: 0%;
}



.first-section{
    padding: 20px;
    background-color: #1F2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    text-decoration:  #F9FaF8;
}

